:root {
  --main-color: rgba(73, 79, 224, 1);
  --main-color-hover: #c4cf03;
  --main-light-color: #f3f2e0;
  --dark-color: #25231f;
  --dark-color-2: #313131;
  --dark-color-hover: #393939;
  --light-gray-color: #eaeaea;
  --secondary-color: #878d28;
  --error-bg: #eed5d5;
  --error-color: #931818;
  --bg-input: rgba(160, 160, 160, 0.15);
  --bg-danger-dark: #f19879;
  --color-danger-dark: #ff9292;
  --divide-list-center: linear-gradient(90deg,
      rgba(77, 76, 76, 0) 0%,
      rgba(179, 178, 178, 1) 50%,
      rgba(77, 76, 76, 0) 100%);
  --shadow-btn: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  --shadow-dark-items: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
  --shadow-bg-dark: 0px 8px 16px 0px #24231633, 0px 0px 2px 0px #2423161a;
}